.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  display: grid;
  gap: 1rem;
}

.activity-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  border-radius: 1rem;
}

.actions {
  gap: 1rem;
}

.card {
  background-color: rgb(227, 239, 239);
  border-radius: 12px;
  padding: 16px;
  cursor: pointer;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  width: 10rem;
  height: 10rem;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.12);
}

.content {
  flex-direction: row;
  display: flex;
  gap: 1rem
}