.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  display: grid;
  gap: 1rem;
}

.activity-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  border-radius: 1rem;
}

.actions {
  gap: 1rem;
}

.card {
  background-color: rgb(227, 239, 239);
  width: 10rem;
  height: 10rem;
}

.content {
  flex-direction: row;
  display: flex;
  gap: 1rem
}