<!-- <form [formGroup]="form" class="dialog-form">
  <tui-title size="m">{{ data?.id ? 'Редактировать' : 'Создать' }} сферу</tui-title>

  <tui-textfield>
    <label tuiLabel>Название</label>
    <input
        placeholder="Введите наименование"
        tuiTextfield
        [(ngModel)]="value"/>
  </tui-textfield>
  <tui-input formControlName="name" tuiTextfieldLabelOutside="true" label=""></tui-input>

  <tui-textarea formControlName="description" tuiTextfieldLabelOutside="true" label="Описание"></tui-textarea>

  <div class="actions">
    <button tuiButton type="button" appearance="flat" (click)="close()">Отмена</button>
    <button tuiButton type="submit" appearance="primary" (click)="save()">Сохранить</button>
  </div>
</form> -->