.goal-card {
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  background-color:rgb(251, 243, 233);
  gap: 12px;


  .header {
    display: flex;
    align-items: center;
    gap: 16px;
  }


  .info {
      flex-grow: 1;
      .goal-title {
      font-size: 18px;
      font-weight: 600;
    }
    
    .goal-progress {
      font-size: 14px;
    }
  }
}