<div class="create-button justify-end">
  <button 
    tuiButton 
    appearance="outline" 
    size="s">
    <lucide-icon [img]="Plus" size="18"></lucide-icon>
    Создать
  </button>
</div>
<div class="sprint-board">
  <!-- Статус Созданно -->
   <div class="sprint-column created">
    <h3>Созданные</h3>
    <div class="column-content">
      @for (sprint of created; track sprint.id) {
        <div
          tuiAppearance="floating"
          tuiCardLarge
          class="sprint-card"
          (click)="openSprintDetails(sprint)">
          <header tuiHeader>
            <h3 tuiTitle>
              {{ sprint.name }}
            </h3>
          </header>

          <p class="sprint-card-description">
            {{ sprint.description }}
          </p>

          <footer>
            <span>
              {{ sprint.startDate | date : 'dd.MM.yyyy' }} –
              {{ sprint.endDate | date : 'dd.MM.yyyy' }}
            </span>
          </footer>
        </div>
      }
    </div>
   </div>

   <!-- Статус В работе -->
   <div class="sprint-column active">
    <h3>В работе</h3>
    <div class="column-content">
      @for (sprint of active; track sprint.id) {
        <div
          tuiAppearance="floating"
          tuiCardLarge
          class="sprint-card"
          (click)="openSprintDetails(sprint)">
          <header tuiHeader>
            <h3 tuiTitle>
              {{ sprint.name }}
            </h3>
          </header>

          <p class="sprint-card-description">
            {{ sprint.description }}
          </p>

          <footer>
            <span>
              {{ sprint.startDate | date : 'dd.MM.yyyy' }} –
              {{ sprint.endDate | date : 'dd.MM.yyyy' }}
            </span>
          </footer>
        </div>
      }
    </div>
   </div>

   <!-- Статус Завершено -->
   <div class="sprint-column done">
    <h3>Завершеные</h3>
    <div class="column-content">
      @for (sprint of done; track sprint.id) {
        <div
          tuiAppearance="floating"
          tuiCardLarge
          class="sprint-card"
          (click)="openSprintDetails(sprint)">
          <header tuiHeader>
            <h3 tuiTitle>
              {{ sprint.name }}
            </h3>
          </header>

          <p class="sprint-card-description">
            {{ sprint.description }}
          </p>

          <footer>
            <span>
              {{ sprint.startDate | date : 'dd.MM.yyyy' }} –
              {{ sprint.endDate | date : 'dd.MM.yyyy' }}
            </span>
          </footer>
        </div>
      }
    </div>
   </div>
</div>

