.sprint-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sprint-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1rem;
    overflow-y: visible
  }

  .sprint-card {
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
      transform: translateY(-3px);
    }
  }

  .sprint-card-description {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* сколько строк оставить */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
